.bigBox{
    width: 100%;
}
.box1{
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 450px;
}
.box2{
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 450px;   
    background-image: url(../../assets/_DSC5744.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
}
#icons {
    height: 30px;
    margin: 0px 20px 0px 0px;
}
#icons2 {
    height: 30px;
    margin: 0px 20px 0px 0px;
}
#icons3 {
    height: 30px;
    margin: 0px 20px 0px 60px;
}
#icons:hover{

    transform: scale(1.5);
    
}
#icons2:hover{

    transform: scale(1.5);
}
.bottom-icon{
    margin: auto;
    width: 19%;
    /* border: 3px solid green; */
    padding: 10px;
}
/* .box5 {
    border: 1px solid #eee; */
  /* } */
/* .hidden_text > ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
.hidden_text:hover  {
    visibility: visible;
    opacity: 1;
     */
/* } */
.copyright{
    display: inline-block;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small; 
    /* font-weight: bold; */
    color: white;

}
