<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #337BE8;">
  
    <div class="col-sm-6 col-md-4 col-lg-3" class="tico" style="display: inline-block;">
          <a class="col-sm-12" class="navbar-brand" href="#"><img id="tico" src="../assets/tico.png" alt="Tico"></a>
    </div>
    <div class="d-sm-none" class="d-md-block" style="display: inline-block;" >
        <button id="button2" type="button" class="btn btn-light" style="background-color: transparent;">Home</button>
        <button id="button" type="button" class="btn btn-secondary" style="background-color: #33E8B8;">Projects</button>
        <button id="button" type="button" class="btn btn-secondary" style="background-color: #33E8B8;">Contact</button>
        <button id="button" type="button" class="btn btn-secondary" style="background-color: #33E8B8;">Blog</button>
      </div>
    <div id="navbarSupportedContent" style="display: inline-block;">
        <a href=mailto:hi@tico.one><img class="visible-lg-*" id="icons2" src="../assets/email.png" alt="email"></a>
        <a href="http://www.github.com/ticomorais" target="_blank"><img class="visible-lg-*" id="icons2" src="../assets/github.png" alt="github"></a>
        <a href="http://www.instagram.com/ticomorais" target="_blank"><img class="visible-lg-*" id="icons2" src="../assets/instagram.png" alt="instagram"></a>
        <a href="http://www.linkedin.com/in/tico" target="_blank"><img class="visible-lg-*" id="icons" src="../assets/linkedin.png" alt="linkedin"></a>
    </div>
  </nav> -->





  <nav style="background-color: #337BE8;" class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container">
        <div class="col-sm-6 col-md-4 col-lg-3" class="tico" style="display: inline-block;">
            <a class="col-sm-12" class="navbar-brand" href="#"><img id="tico" src="../assets/tico.png" alt="Tico"></a>
      </div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="color:#33E8B8 ">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" id="nav1" href="/home"><h5 class="menu_button">Home</h5></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" id="nav2" href="/blog"><h5 class="menu_button" style="color: #33E8B8 ">Blog</h5></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" id="nav3" href="/projects"><h5 class="menu_button" style="color: #33E8B8">Projects</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" id="nav4" href="/contact"><h5 class="menu_button"  style="color: #33E8B8">About</h5></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
  
<router-outlet></router-outlet>


